@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <script src="~/Scripts/Aluno/cadastro.js"></script>


</head>
<body class="bg-dark">
    <div class="container-fluid">
        @RenderBody()
    </div>

</body>



