@{
    Layout = "~/Views/Shared/Master.cshtml";
}


<body>
    <div> 
        <form action="/Mecanica/Store" method="post">
            <div>
                <label>Cliente</label>
                <input type="text" name="Servico.Cliente" id="campo-nome-cliente" />
            </div>

            <div>

            </div>

            <button type="submit">SALVAR</button>



        </form>
    </div>
</body>
