
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.TituloPagina</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/all.css" />
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/Recrutadora/cadastro.js"></script>

</head>
<body>
    <div> 
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</body>
</html>
