
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calcular</title>
</head>
<body>
    <div> 
        <h3>a soma de @ViewBag.Numero1 e @ViewBag.Numero2 é @ViewBag.Soma</h3>
    </div>
</body>
</html>
